@model WoWEcon.Models.AuctionItemVM

@{
    ViewBag.Title = @Model.ItemName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
  <div class="col-md-8">
    <h1>@Model.ItemName <small>[@Model.Realm / @Model.Faction]</small></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div id="crossSectionChart"></div>
  </div>
</div>

@section scripts {
@Scripts.Render("~\\Scripts\\highcharts.js")

<script  type="text/javascript">
  $(function () {
    var chart,
        categories = [
          @{ Int64[] categories = Model.Data.Categories; }
          @for(int i = 0; i < categories.Length; ++i)
          {
            if(i != categories.Length -1)
            {
             @Html.Raw(
                String.Format("'{0} - {1}',",
                  categories[i].ToString(),
                  categories[i+1].ToString()
                )
              )
            }
            else
            {
             @Html.Raw(
               @String.Format("'{0}+'",
                 categories[i].ToString()
               )
             )
            }
          }
          @*String.Join(",", Model.PriceGroups.Select(a => a.ToString()).ToList())*@
        ];
    $(document).ready(function () {
      $('#crossSectionChart').highcharts({
        chart: {
          type: 'bar'
        },
        title: {
          text: 'Histogram of Price Groups'
        },
        subtitle: {
          text: 'Bill is Awesome'
        },
        xAxis: [{
          categories: categories,
          reversed: false
        }, { // mirror axis on right side
          opposite: true,
          reversed: false,
          categories: categories,
          linkedTo: 0
        }],
        yAxis: {
          title: {
            text: null
          },
          labels: {
            formatter: function () {
              return Math.abs(this.value);
            }
          },
          min: @Model.Data.Off.Select(z => z.Value*-1).Min() 
            ,
          max: @Model.Data.Primary.Select(z => z.Value).Max()
        },

        plotOptions: {
          series: {
            stacking: 'normal'
          }
        },

        tooltip: {
          formatter: function () {
            return '<b>' + this.series.name + ', Price Range ' + this.point.category + '</b><br/>' +
                'Count: ' + Highcharts.numberFormat(Math.abs(this.point.y), 0);
          }
        },

        series: [
          {
            name: "@Model.Data.PrimaryName",
            color: "@Model.Data.PrimaryColor",
            data: [
              @String.Join(",", Model.Data.Primary.Select(a => a.Value.ToString()).ToList())
            ]
          },
          {
            name: "@Model.Data.OffName",
            color: "@Model.Data.OffColor",
            data: [
              @String.Join(",", Model.Data.Off.Select(a => (a.Value * -1).ToString()).ToList())
            ]
          }
        ]
      });
    });

  });
</script>
}